i.icon-hint {
    content: url('../icons/light-bulb.svg');
    width: 100px;
    height: 100px;
    display: inline-block;
}

i.icon-flag {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.6);
    opacity: 0.5;
}

    i.icon-flag.active{
        opacity: 1;
    }

    i.icon-flag:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    i.icon-flag.pl {
        content: url('../icons/pl.svg');
    }

    i.icon-flag.en {
        content: url('../icons/gb.svg');
    }


i.logo {
    content: url('../icons/logo.svg');
    height: 40px;
    display: inline-block;
}

i.user {
    background-color: var(--color-black);
    -webkit-mask-image: url('../icons/user.svg');
    mask-image: url('../icons/user.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
}

i.icon-add {
    content: url('../icons/plus.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

i.dot {
    background-color: var(--color-white);
    -webkit-mask-image: url('../icons/dot.svg');
    mask-image: url('../icons/dot.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}