@import 'root.css';
@import 'icons.css';

* {
    font-family: var(--font-primary);
    font-size: var(--font-primary-size);
    color: var(--color-white);
}

html{
    height: 100vh;
}

body {
    min-height: 100vh;
    overflow-y: auto;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

    #app .page-header {
        position: sticky;
        width: 100%;
        top: 0;
        height: 56px;
        background-color: var(--color-white);
        
    }

        #app .page-header .navbar .language-container{
            display: inline-flex;
        }

        #app .page-header .navbar .navbar-toggler{
            margin-right: auto;
        }

        #app .page-header .navbar .navbar-collapse {
            justify-content: end;
        }

        #app .page-header .navbar .navbar-brand,
        #app .page-header .navbar .navbar-nav .nav-link{
            color: var(--color-main);
            font-weight: 600;
        }

        #app .page-header .navbar .user-container {
            padding: 0 .5rem;
            display: inline-flex
        }

            #app .page-header .navbar .user-container .user-toggle {
                display: inline-flex;
                cursor: pointer;
                align-items: center
            }

            #app .page-header .navbar .user-container .dropdown-menu {
                width: 100%;
                min-width: max-content;
            }

                #app .page-header .navbar .user-container .dropdown-menu .dropdown-item{
                    cursor: pointer;
                }

            #app .page-header .navbar .user-container * {
                color: var(--color-main);
                font-weight: 600;
            }

            #app .page-header .navbar .user-container .user-name {
                margin: 0 .5rem;
            }

    #app .page-container {
        flex-grow: 1;
        background-color: var(--color-main);
        padding: 5% 3% 0 3%;
    }

        #app .page-container .btn {
            min-width: 250px;
            height: 45px;
            border-radius: .4rem;
            border: 1px solid;
            font-size: 1.1rem;
        }

            #app .page-container .btn:hover {
                font-weight: 600;
                border: 2px solid;
            }

            #app .page-container .btn.btn-primary {
                background-color: var(--color-main);
                color: var(--color-white);
            }

            #app .page-container .btn.btn-secondary {
                background-color: var(--color-white);
                color: var(--color-main);
                border-color: var(--color-white);
            }

                #app .page-container .content-container .content-header {
                    text-align: center;
                    margin-bottom: 5rem;
                }

        #app .page-container .content-container .action-container {
            display: flex;
            flex-wrap: wrap;
        }

            #app .page-container .content-container .action-container .left-part,
            #app .page-container .content-container .action-container .right-part {
                padding: 0px 15px;
                display: flex;
                flex-direction: column;
                width: 50%;
            }

        #app .page-container .content-container .action-container .left-part {
            border-right: 3px solid var(--color-white);
        }

            #app .page-container .content-container .action-container .left-part > div,
            #app .page-container .content-container .action-container .left-part > ul,
            #app .page-container .content-container .action-container .right-part > div,
            #app .page-container .content-container .action-container .right-part > ul{
                align-self: center;
                margin-bottom: 1rem;
            }

            #app .page-container .content-container .action-container .right-part .sign-in-container{
                display: flex;
                flex-direction: column;
            }

            #app .page-container .content-container .action-container .right-part .sign-in-container span{
                text-align: center;
            }

        #app .page-container .content-container .hint-container {
            margin-bottom: 4rem;
            padding: 0 15%;
            display: inline-flex;
            width: 100%;
        }

            #app .page-container .content-container .hint-container .hint-slider{
                flex-grow: 1;
            }

.carusel {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

    .carusel .carusel-container {
        padding: 1rem 1.5rem;
    }

    .carusel .carusel-navigation {
        display: inline-flex;
        gap: 10px;
        justify-content: center;
    }

    .carusel .carusel-item span {
        display: none;
        text-align: center;
        font-weight: 600;
    }

        .carusel .carusel-item span.active {
            display: block;
            -webkit-animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

    .carusel .dot{
        cursor: pointer
    }

    .carusel .dot::after {
        content: "\23fa";
        display: inline-block;
        font-style: normal;
    }

        .carusel .dot.active::after{
            opacity: 0.7;
        }

@media only screen and (max-width: 600px) {
            #app .page-container .content-container .action-container{
        flex-direction: column;
    }

        #app .page-container .content-container .action-container .left-part,
        #app .page-container .content-container .action-container .right-part{
            width: 100%;
            padding: 20px 0px;
        }

        #app .page-container .content-container .action-container .left-part {
            border: none;
            border-bottom: 3px solid var(--color-white);
        }
    #app .page-container .content-container .hint-container {
        padding: 0;
    }
}


@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
